@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;400;700&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Hanken Grotesk";
}

* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk";
}

body {
  margin: 0;
}

header {
  background-color: #000000;
  display: grid;
  padding: 15px 0px;
  z-index: 500000px;
  position: fixed;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  grid-area: header;
}
header ul {
  list-style-type: none;
}
header ul li {
  padding: 0px 12px;
  transition: all 0.3s ease;
}
header ul li a {
  color: #00FF00;
  font-size: 18px;
  text-decoration: none;
}
header ul li:hover {
  font-size: 20px;
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

main {
  display: grid;
  grid-area: main;
}
main .carouselExampleControls {
  margin-top: 80px;
  width: 100%;
  height: 40px;
}
main div .productoItem {
  display: inline-block;
  width: 100px;
  background-color: #000000;
  height: 100px;
  overflow: auto;
  padding: 20px;
  margin: 50px;
  border: 3px solid #00FF00;
}

footer {
  background-color: #000000;
  display: grid;
  padding: 12px;
  color: #ffffff;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: footer;
}

* {
  margin: 0;
  background-color: #000000;
  font-family: "Hanken Grotesk";
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 75px 500px 40px;
  grid-template-areas: header header header header main main main main footer footer footer footer;
}

main {
  display: flex;
}
main div #texto-bases {
  list-style-type: circle;
  align-items: center;
}

* {
  margin: 0;
  background-color: #000000;
  font-family: "Hanken Grotesk";
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 75px 500px 40px;
  grid-template-areas: header header header header main main main main footer footer footer footer;
}

main form {
  padding: 80px;
  display: flex;
  align-content: center;
  padding: 12px 22px;
  font-size: 17px;
}

* {
  margin: 0;
  background-color: #000000;
  font-family: "Hanken Grotesk";
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 75px 500px 40px;
  grid-template-areas: header header header header nav main main main footer footer footer footer;
}

* {
  margin: 0;
  background-color: #000000;
  font-family: "Hanken Grotesk";
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 75px 500px 40px;
  grid-template-areas: header header header header main main main main footer footer footer footer;
}

main {
  display: flex;
  align-content: center;
}
main h1 {
  font-size: 90px;
}
main p {
  font-size: 75px;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 75px 500px 40px;
  grid-template-areas: header header header header main main main main footer footer footer footer;
}
body nav {
  grid-area: nav;
}

/*# sourceMappingURL=estilo.css.map */
