$primary-color:#ffffff;
$secondary-color:#00FF00;
$terciary-color: #000000;

@mixin tamañoTexto($tamanio){
    @if $tamanio == "small"{
        padding: 10px 20px;
        font-size: 15px;
    }@else if $tamanio == "medium"{
        padding: 12px 22px;
        font-size: 17px;
    }
}    