footer{
    background-color:$terciary-color;
    padding: 12px;
    color:$primary-color;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: footer;
}