header {
    background-color: $terciary-color;
    padding: 15px 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 600000;
    ul{
        list-style-type: none; 
        li{
            padding: 0px 12px;
            color: $secondary-color;
            font-size: 18px;
            transition: all 0.3s ease;
            text-decoration: none;
            flex-direction: row;
            &:hover{
                font-size: 20px;
                transform: translateY(-3px);
                transition: all 0.3s ease;
                }
        }
    }
}